body{
	margin:0 auto;
    color:white;
    background-image: url("../img/city.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*MAIN SEGMENT*/
.main_segment.container-fluid{
    height: 70%;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.main_segment{
    padding: 0;
}

.title-block{
    width:100%;
    height:100%;
    text-align: center;
}

.maintext{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size:12vh;
    text-align:center;
    padding-top:150px;
    padding-left: 10%;
    padding-right:10%;
    width:100%;
}

.title{
    font-size: 2vw;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2em;
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    font-family: Raleway, sans-serif;
    font-weight: 900;
}

.title::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 30%;
    bottom: -0.5em;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #fff;
}

.motto{
    font-size:12vh;
    color: #e00901;
}


.fan-block{
    width:100%;
    height:100%;
    text-align: center;
}

.gift-intro{
    height: 20%;
    width: 100%;
    color: #333;
    text-align: center;
}

div.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

.departments_segment{
    background-color: #dcad63;
}

.well{
    padding: 0;
}

.promo{
    min-height: 150;
}