body{
	margin:0 auto;
    color:white;
    background-image: url("../img/city.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

/*MAIN SEGMENT*/
.main_segment.container-fluid{
    min-height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    
    padding:0;
    padding-top: 100px;
}

div.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

table{
    background-color: #888;
    margin: 0;
}

td{
    min-height: 50%;
}

.well{
    padding: 0;
}

#chocolate{
    background-image: url("../img/chocolate.jpg");
    background-size: 150% 100%;
    background-repeat: no-repeat;
    height: 300px;
}

#chocolate-describe{
    height: 300px;
    background-color: #777;
}

#lollypop{
    background-image: url("../img/lollypops.jpg");
    background-size: 150% 100%;
    background-repeat: no-repeat;
    height: 620px;
}

#lollypop-describe{
    height:300px;
    background-color: #777;
}

#bonbon{
    text-align: center;
    background-image: url("../img/bonbon.jpg");
    background-size: 100% 120%;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    -webkit-transition : -webkit-filter 250ms linear
}

.bonbon-open{
    display: none;
}

#bonbon.well.promo:hover{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

#bonbon.well.promo:hover .bonbon-open{
    padding-top: 12%;
    display: block;
}

#custom-describe{
    text-align: center;
    background-image: url("../img/flatchocolate.jpg");
    background-size: 100% 120%;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    -webkit-transition : -webkit-filter 250ms linear;
}

.custom-desc-open{
    display: none;
}

#custom-describe.well.promo:hover{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

#custom-describe.well.promo:hover .custom-desc-open{
    padding-top: 12%;
    display: block;
}

.promo{
    height:200px;
}