body{
	margin:0 auto;
    color:white;
    background-image: url("../img/city.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

/*MAIN SEGMENT*/
.main_segment.container-fluid{
    min-height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    
    padding:20;
    padding-top: 100px;
}

.sweet-title{
    width:100%;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 5vh;
    color: #333;
    text-align: center;
}

.sweet-intro{
    min-height: 20%;
    margin: 0;
    padding-right: 15%;
    padding-left: 15%;
    float: none;
    text-align: center;
    color: #777;
    font-size: 3vh;
    margin-bottom: 10px;
}

div.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

.well{
    padding: 0;
}

#chocolate{
    background-image: url("../img/chocolate.jpg");
    background-size: 150% 100%;
    background-repeat: no-repeat;
    height: 300px;
    
    position: relative
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#chocolate:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#chocolate:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#chocolate:hover::after {
  opacity: 1;
}

#chocolate-describe{
    height: 300px;
    background-color: #777;
    border-width: 0 5 0 0;
    border-color: #A52;
    padding-top: 20%;
}

#lollypop{
    background-image: url("../img/lollypops.jpg");
    background-size: 150% 100%;
    background-repeat: no-repeat;
    height: 620px;
    
    position: relative
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#lollypop:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#lollypop:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#lollypop:hover::after {
  opacity: 1;
}

#lollypop-describe{
    height:300px;
    background-color: #777;
    border-width: 0 0 0 5;
    border-color: #A52;
    padding-top: 10%;
}

#bonbon{
    text-align: center;
    background-image: url("../img/bonbon.jpg");
    background-size: 100% 120%;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    -webkit-transition : -webkit-filter 250ms linear
    transition: background-size 250ms ease-out;
    -moz-transition: background-size 250ms ease-out;
    -ms-transition: background-size 250ms ease-out;
    -o-transition: background-size 250ms ease-out;
    -webkit-transition: background-size 200ms ease-out;
}

.bonbon-open{
    display: none;
}

#bonbon.well.promo:hover{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    background-size: 102% 122%;
}

#bonbon.well.promo:hover .bonbon-open{
    padding-top: 12%;
    display: block;
}

#custom-describe{
    text-align: center;
    background-image: url("../img/flatchocolate.jpg");
    background-size: 100% 120%;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    -webkit-transition : -webkit-filter 250ms linear;
    transition: background-size 250ms ease-out;
    -moz-transition: background-size 250ms ease-out;
    -ms-transition: background-size 250ms ease-out;
    -o-transition: background-size 250ms ease-out;
    -webkit-transition: background-size 250ms ease-out;
}

.custom-desc-open{
    display: none;
}

#custom-describe.well.promo:hover{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    background-size: 102% 122%;
}

#custom-describe.well.promo:hover .custom-desc-open{
    padding-top: 12%;
    display: block;
}

#gallery{
    text-align: center;
    background-image: url("../img/sweets.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    -webkit-transition : -webkit-filter 250ms linear;
    transition: background-size 250ms ease-out;
    -moz-transition: background-size 250ms ease-out;
    -ms-transition: background-size 250ms ease-out;
    -o-transition: background-size 250ms ease-out;
    -webkit-transition: background-size 250ms ease-out;
}

.gallery-open{
    display: none;
}

#gallery.well.promo:hover{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    background-size: 102% 102%;
}

#gallery.well.promo:hover .gallery-open{
    padding-top: 12%;
    display: block;
}

.promo{
    height:300px;
}