.teamtable{
	width:100%;
}
.teamtable2{
	width:80%;
}
.teamtd{
	width:25%;
	text-align:center;
}

.teamimg{
	
	max-width:170px;
}

.teamname{
	font-family: 'Muli', sans-serif;
	font-size: 30px;	
}

.teamtitle{
	font-size: 18px;
}

.leftalign{
	text-align:left;
}

.teamsegmenttitle{
    font-family: 'Muli', sans-serif;
	text-align:center;
	color:white;
	margin-top:80px;
	margin-bottom:35px;
	font-size: 60px;
	
}

@media only screen and (max-width: 991px){
    .team_segment{ height: 1900px;}
}

.teamrow{
	margin-top:50px;
	margin-bottom:50px;
}