body{
	margin:0 auto;
    color:white;
    background-color: #181819;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

.main_segment.container-fluid{
    min-height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    float:none;

    padding:100px;
}

div.container{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.eshop-title{
    width:100%;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 5vh;
    color: #333;
    text-align: center;
    padding-bottom:5%;
}

.eshop-intro{
    min-height: 20%;
    margin: 0;
    padding-right: 15%;
    padding-left: 15%;
    float: none;
    text-align: center;
    color: #777;
    font-size: 3vh;
    margin-bottom: 40px;
		margin-top: 10%;
}

.well{
    padding: 0;
}

.panel-default{
	border-color: red;
}

#eshop{
    background-image: url("../img/E-bolt68.jpg");
    background-size: 100% auto;
    height: 620px;

    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#eshop:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#eshop:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#eshop:hover:after {
  opacity: 1;
}

.well.describe{

    padding: 10px;
    padding-top: 15px;
    font-family: Raleway, 'sans-serif';
    font-size: 2.5vh
}

.describe{
	height: 400px;
}

.promo{
    min-height:300px;
    padding-top: 2%;
    font-family: Muli, 'sans-serif';
    font-size: 4vh;
    cursor: pointer;
}
