/*DESKTOP*/
/*FIXED ELEMENTS*/
body{
	margin:0 auto;
    color:white;
    background-image: url("../img/main1.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}

/*MAIN SEGMENT*/
.main_segment.container-fluid{
    height: 70%;
    width: 100%;
    background-color: #181819;
    text-align: center;
}

.main_segment{
    padding: 0;
}

.title-block{
    width:100%;
    height:100%;
    text-align: center;
    padding-top: 55px;
}

.title-block2{
    width: 100%;
    min-height: 100%;
    text-align: center;
    padding-top: 25px;
}

.vegas-slide-inner{
    background-size: auto 100%;
}

.navhider{
    height: 50px;
}

.maintext{
    font-family: 'Lora', serif;
    font-style: italic;
    font-size:12vh;
    text-align:center;
    padding-top:150px;
    padding-left: 10%;
    padding-right:10%;
    width:100%;
}

.title{
    font-size: 2vw;
    font-style: normal;
    font-weight: 800;
    line-height: 1.2em;
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    font-family: Raleway, sans-serif;
    font-weight: 900;
}

.title::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 30%;
    bottom: -0.5em;
    right: 0;
    left: 0;
    margin: 0 auto;
    background-color: #fff;
}

.motto{
    font-size:12vh;
    color: #e00901;
}

/*WEBSHOP*/
.webshop_segment{
    height: 50px;
    width: 100%;
    background-color: #EB302B;
    color: white;/*#31508F;*/
    font-size: 1.5vw;
    text-align: center;
    padding: 1vh;
    
    
    
    transition: background-color 0.7s ease;
}

.webshop_segment:hover{
    background-color: #31508F;/*#ba231f;*/
    cursor: pointer;
}

/*TIMELINE SEGMENT*/
.timeline_segment{
    min-height: 100%;
    width: 100%;
    
    padding-left: 100px;
    padding-right: 100px;
    
    background-color: white; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #777;
}

.summary-block{
	font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size:4vh;
    text-align:center;
    padding-top:20px;
    padding-left: 10%;
    padding-right:10%;
    width:100%;
}

.timeline-segment-title{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: black;
    margin-top: 60px;
    margin-bottom: 35px;
    font-size: 60px;
    font-weight: bold;
}

/*TEAM SEGMENT IS IN team.css*/


/*COUNTER*/
.counter_segment{
    height: 300px;
    width:100%;
    text-align: center;
    color: #e00901;
    font-size: 3vw;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    background-color: rgba(0,0,0,0.75);
}

.count{
    margin: 5px;
}



/*FOOTER*/

.eco_text{
	font-family: 'Muli', sans-serif;
    font-weight: 300;
    font-size:3.3vh;
    text-align:center;
    padding-top:10px;
    padding-left: 10%;
    padding-right:10%;
    width:100%;
}

.department_text{
	font-family: 'Lora', serif;
    font-weight: 200;
    font-size:3.0vh;
    padding-top:10px;
    padding-left: 10%;
    padding-right:10%;
    width:100%;
   
}

#slider{
    width: 100%;
    overflow:hidden;
    z-index: 1;
}

.slide {
    float: left;
}

.eco-color {
     background-color: rgb(48, 130, 55);
}
.sweet-color {
    background-color:rgb(112, 79, 67);
}
.gift-color {
    background-color:rgb(138, 15, 15);
}
.fan-color {
    background-color:rgb(204, 129, 0);
}
.printing-color {
    background-color:rgb(116, 115, 114);
}
.reference-color {
    background-color:rgb(53, 68, 151);
}

.segmentoverflow{
	overflow:hidden;
}

/*RESPONSIVE SETTINGS*/

@media (max-width:1034px){
    .timeline_segment{ padding-left: 10px; padding-right: 10px;}
    .summary-block{ padding-left: 10px; padding-right: 10px;}
    .counter_segment{ min-height: 200px;}
    #dot-nav{ display: none;}
}
