body{
	margin:0 auto;
    color:white;
    padding: 0;
    background-color: #181819;
}

/*MAIN SEGMENT*/
.main_segment.container-fluid{
    min-height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    
    padding:8%;
}

.sweet-title{
    width:100%;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 5vh;
    color: #333;
    text-align: center;
}

.sweet-intro{
    min-height: 20%;
    margin: 0;
    padding-right: 15%;
    padding-left: 15%;
    float: none;
    text-align: center;
    color: #777;
    font-size: 3vh;
    margin-bottom: 40px;
}

div.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

.well{
    padding: 0;
}

#chocolate{
    background-image: url("../img/chocolate.jpg");
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#chocolate:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#chocolate:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#chocolate:hover::after {
  opacity: 1;
}

.chocolate-open{
    font-family: Muli, 'sans-serif';
    font-size: 4vh;
    padding-top: 2em;
}

#chocolate:hover .chocolate-open{
    display: block;
}

.well.describe{
   
    background-color: white;
    color: black;
    padding: 10px;
    padding-top: 15px;
    font-family: Raleway, 'sans-serif';
    font-size: 2.5vh
}
.describe{
	height:250px;
}

#chocolate-describe{
    border-width: 1 5 1 1;
    border-color: #A52;
}

#lollypop{
    background-image: url("../img/sweets.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#lollypop:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#lollypop:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#lollypop:hover::after {
  opacity: 1;
}

.lollypop-open{
    font-family: Muli, 'sans-serif';
    font-size: 4vh;
    padding-top: 2em;
}

#lollypop:hover .lollypop-open{
    display: block;
}

#lollypop-describe{
    border-width: 1 1 1 5;
    border-color: #A52;
}

.describe2{
	    height: 210px;
	    background-color: white;
    color: black;
    padding: 10px;
    padding-top: 15px;
    font-family: Raleway, 'sans-serif';
    font-size: 2.5vh
}

#bonbon{
    text-align: center;
    background-image: url("../img/nassolnivalok.jpg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    
     /* Chrome, Safari, Opera */
    
    
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.bonbon-open{
    padding-top: 2em;
}

#bonbon:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#bonbon:hover {
    transform: scale(1.02, 1.02);
     /* Chrome, Safari, Opera */
    
    cursor: pointer;
}

#bonbon:hover::after {
  opacity: 1;
}

#bonbon.well.promo:hover .bonbon-open{
    padding-top: 2em;
    display: block;
}

#collections{
    text-align: center;
    background-image: url("../img/csomagok.jpg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    
     /* Chrome, Safari, Opera */
    
    
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.collections-open{
    padding-top: 2em;
}

#collections:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#collections:hover {
    transform: scale(1.02, 1.02);
     /* Chrome, Safari, Opera */
    
    cursor: pointer;
}

#collections:hover::after {
  opacity: 1;
}

#collections.well.promo:hover .collections-open{
    padding-top: 2em;
    display: block;
}

#custom{
    text-align: center;
    background-image: url("../img/flatchocolate.jpg");
    background-size: auto 100%;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    
     /* Chrome, Safari, Opera */
    
    
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#custom:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#custom:hover {
    transform: scale(1.02, 1.02);
     /* Chrome, Safari, Opera */
    
    cursor: pointer;
}

#custom:hover::after {
  opacity: 1;
}

.custom-open{
    padding-top: 6em;
}

#bonbon-describe{
    border-width: 1 1 5 1;
    border-color: #A52;
}

#custom-describe{
    border-width: 1 1 5 1;
    border-color: #A52;
}

.promo{
    height:300px;
    padding-top: 8%;
    font-family: Muli, 'sans-serif';
    font-size: 4vh;
    cursor: pointer;
    text-shadow: 0px 0 black, 0 3px #222, 4px 0 #222, 0 0px black;
}

.hashmarkul{
	color:black;
	font-size:15px;
	
}

.hashmarkul2{
	color:black;
	font-size:22px;
	columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  
}

.hashmarkul3{
	color:black;
	font-size:20px;
	columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  
}