.adminhadercontainer{
	text-align:center;
	background-color:rgba(243,18,50,0.5);
}

.hirleveldiv{
	text-align:center;
	margin-top:20px;
}

.hirleveluploadmsg{
	font-size:1.5em;
	color:red;
}

.hirleveltitle{
	font-size:2em;
	margin:10px;
	font-weight: bold;
}

.hirlevelh2{
	font-size:1.5em;
	margin:10px;
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}

td{
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.hirleveltextarea{
	width:80%;
	text-align:center;
	    margin: auto;
}

.adminheader{
	font-size:1.5em;
}

.hirleveltigth{
	 width: 48%;
    float:right; /* add this */
   
}

.hirlevelleft{
	 width: 48%;
    float:left; /* add this */
   
}

.hirlevel2{
	display:inline-block;
	    width: 90%;
}

.produpload{
	margin-top:40px;
}

.prodlist{
	margin-top:40px;
	margin:auto;
}

.imguploadresp{	
	font-size:1.5em;
	color:red;
	float:right;
	
}

.prodlist{
	width:90%;
}

.editprodbutton{
	background-color:red;
}

.changebutton{
	margin:auto;
	margin-left:100px;
	display:inline-block;
}

.editor_top{
	text-align:center;
	margin:auto;
	margin-top:10px;
}
.editorcontainer{
	width:100%;
	text-align:center;
}