.adminhadercontainer{
	text-align:center;
	background-color:rgba(243,18,50,0.5);
}

.hirleveldiv{
	text-align:center;
	margin-top:20px;
}

.hirleveluploadmsg{
	font-size:1.5em;
	color:red;
}

.hirleveltitle{
	font-size:2em;
	margin:10px;
	font-weight: bold;
}

.hirlevelh2{
	font-size:1.5em;
	margin:10px;
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}

td{
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}

.hirleveltextarea{
	width:80%;
	text-align:center;
	    margin: auto;
}

.adminheader{
	font-size:1.5em;
}

.hirleveltigth{
	 width: 48%;
    float:right; /* add this */
   
}

.hirlevelleft{
	 width: 48%;
    float:left; /* add this */
   
}

.hirlevel2{
	display:inline-block;
	    width: 90%;
}

.produpload{
	margin-top:40px;
}

.prodlist{
	margin-top:40px;
	margin:auto;
}

.imguploadresp{	
	font-size:1.5em;
	color:red;
	float:right;
	
}

.prodlist{
	width:90%;
}

.editprodbutton{
	background-color:red;
}

.changebutton{
	margin:auto;
	margin-left:100px;
	display:inline-block;
}

.editor_top{
	text-align:center;
	margin:auto;
	margin-top:10px;
}
.editorcontainer{
	width:100%;
	text-align:center;
}
.myhidden{
	display:none;
}

.adminblogcontainter{
	margin-top:100px;
	width:100%;
	text-align:center;
	margin-bottom:100px;
}

.adminblogcontainter h1{
	color: #13386a;
    margin: 5px 5px 5px 15px;
    font-size: 26px;
    background: transparent url(../images/h1.png) no-repeat bottom left;
    padding-bottom: 7px;
}

.bookpagediv{
	width: 380px;
    height: 480px;
    padding: 10px;
    margin:auto;
    border:2px solid black;
    margin-top:20px;
    font-size:14px;
	overflow:hidden;
}

.blogtexytarea{
    min-height: 200px;
    min-width: 350px;
}

.blogtestcontainer{
	width:95%;
	text-align: center;
}

.blogtest{
	width:400px;
	height:500px;
	border: 2px solid brown;
	margin:auto;
	font-size:14px;
	
}

.blogtestimg{
	width:310px;
	margin-top:10px;
}