.refimg{
	width:50%;
	margin:auto;
}

#scroller2{
	height:100%;
}

.refli{
	width:150px;
	height:100px;
}

/*REFERENCES*/
.references_segment{
    min-height: 100%;
    background-color: white;
    max-height:700px;
}

.references_segment>.container>.row{
    margin-bottom: 20px;
}

img.logos{
    filter: grayscale(100%);
}

img.logos:hover{
    filter: grayscale(0%);
}

.hor-scroll{
	overflow: auto;
}

.desc1{
	color: #777;
	font-family: 'Lora', serif;
	font-style: italic;
	font-size: 0.8em;
}

td{
	padding: 20px;
	text-align: center;
}