/*MOBIL*/
body{
	margin:0 auto;
    color:white;
    background-color: #181819;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

.main_segment.container-fluid{
    min-height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    float:none;
    padding-top: 55px;
}

div.container{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.eco-title{
    width:100%;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 5vh;
    color: #333;
    text-align: center;
}

.eco-intro{
    min-height: 20%;
    margin: 0;
    float: none;
    text-align: center;
    color: #777;
    font-size: 3vh;
    margin-bottom: 40px;
}

.well{
    padding: 0;
}

#energy{
    background-image: url("../img/eco7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 620px;

    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#energy:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#energy:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#energy:hover:after {
  opacity: 1;
}

.energy-open{
    margin-top: 40%;
    font-family: Muli, 'sans-serif';
    font-size: 4vh;
}

#energy:hover .energy-open{
    display: block;
}

#energy-describe{
    min-height: 300px;
    background-color: white;
    color: black;
    border-width: 1 1 5 1;
    border-color: #3A3;
}

#textil{
    background-image: url("../img/eco1.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 620px;

    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#textil:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#textil:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#textil:hover:after {
  opacity: 1;
}

.textil-open{
    padding-top: 40%;
    font-family: Muli, 'sans-serif';
    font-size: 4vh;
    color: #333;
}

#textil:hover .textil-open{
    display: block;
}

#textil-describe{
    min-height:300px;
    background-color: white;
    color: black;
    border-width: 1 1 5 1;
    border-color: #3A3;
}

#eco-gifts{
    text-align: center;
    background-image: url("../img/eco6.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    -webkit-transition : -webkit-filter 250ms linear;
    height: 620px;

    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#eco-gifts:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#eco-gifts:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#eco-gifts:hover:after {
  opacity: 1;
}

.eco-gifts-open{
    padding-top: 2em;
}

#eco-gifts.well.promo:hover .eco-gifts-open{
    padding-top: 2em;
    display: block;
}

#eco-gift-describe{
    border-width: 1 1 5 1;
    border-color: #3A3;
}

.well.describe{
    min-height: 300px;
    padding: 10px;
    padding-top: 15px;
    font-family: Raleway, 'sans-serif';
    font-size: 3vh;
    background-color: white;
    color: black;
}

.promo{
    height:300px;
    padding-top: 2em;
    font-family: Muli, 'sans-serif';
    font-size: 4vh;
    cursor: pointer;
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.row{
    margin-right: 0;
    margin-left: 0;
}

.hashmarkul{
	color:black;
	font-size:20px;
	font-weight:normal;
}