body{
	margin:0 auto;
    color:white;
    background-color: #181819;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

/*MAIN SEGMENT*/
.main_segment.container-fluid{
    min-height: 100%;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding-top: 55px;
}

.gift-title{
    width:100%;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 5vh;
    color: #333;
    text-align: center;
}

.gift-intro{
    min-height: 20%;
    margin: 0;
    float: none;
    text-align: center;
    color: #777;
    font-size: 3vh;
    margin-bottom: 70px;
}

div.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

.well{
    padding: 0;
}

.well.describe{
    min-height: 300px;
    background-color: #777;
    border-width: 0 5 0 0;
    border-color: #A52;
    padding: 10px;
    padding-top: 15px;
    font-family: Raleway, 'sans-serif';
    font-size: 2vh;
}

#gift-webshop{
    background-image: url("../img/fan1.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#gift-webshop:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#gift-webshop:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#gift-webshop:hover::after {
  opacity: 1;
}

.gift-webshop-open{
    margin-top: 3.2em;
    font-family: Muli, 'sans-serif';
    font-size: 4vh;
    
}

#gift-webshop:hover .gift-webshop-open{
    display: block;
}

#gift-webshop-describe{
    height: 250px;
    background-color: white;
    color: black;
    border-width: 1 1 5 1;
    border-color: rgb(255, 182, 56);
}

#custom-gift{
    background-image: url("../img/fan3.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#custom-gift:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#custom-gift:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#custom-gift:hover::after {
  opacity: 1;
}

.custom-gift-open{
    margin-top: 3em;
    font-family: Muli, 'sans-serif';
    font-size: 4vh;
}

#custom-gift:hover .custom-gift-open{
    display: block;
}

#custom-gift-describe{
    height:250px;
    background-color: white;
    color: black;
    border-width: 1 1 5 1;
    border-color: rgb(255, 182, 56);
}

#textile{
    text-align: center;
    background-image: url("../img/fan2.jpg");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#textile:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#textile:hover {
    transform: scale(1.02, 1.02);
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    cursor: pointer;
}

#textil:hover::after {
  opacity: 1;
}

.textile-open{
    padding-top: 2em;
}

#textile:hover .textile-open{
    display: block;
}

#people-webshop{
    text-align: center;
    background-image: url("../img/.jpg");
    background-size: 100% 120%;
    background-repeat: no-repeat;
    color: #333;
    
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#people-webshop:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.people-webshop-open{
    padding-top: 2em;
}

#people-webshop:hover {
    transform: scale(1.02, 1.02);
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    cursor: pointer;
}

#people-webshop:hover::after {
  opacity: 1;
}

#people-webshop.well.promo:hover .people-webshop-open{
    display: block;
}

#gallery{
    text-align: center;
    background-image: url("../img/fan5.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #333;
    
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#gallery:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#gallery:hover {
    transform: scale(1.02, 1.02);
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    cursor: pointer;
}

#gallery:hover::after {
  opacity: 1;
}

.gallery-open{
    padding-top: 2em;
}

#gallery.well.promo:hover .gallery-open{
    display: block;
}

.promo{
    height:300px;
    padding-top: 2em;
    font-family: Muli, 'sans-serif';
    font-size: 4vh;
    cursor: pointer;
}

#custom-cup-describe{
	 background-color: white;
    color: black;
    border-width: 1 1 1 5;
    border-color: rgb(255, 182, 56);
}