body{
	margin:0 auto;
    color:white;
    background-color: #181819;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*MAIN SEGMENT*/
.main_segment.container-fluid{
    min-height: 70%;
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.main_segment{
    padding: 0;
}

.print-title{
    width:100%;
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 5vh;
    margin-top: 55px;
    color: #333;
    text-align: center;
}

.print-intro{
    min-height: 20%;
    margin: 0;
    float: none;
    text-align: center;
    color: #777;
    font-size: 3vh;
    margin-bottom: 40px;
}

div.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

.departments_segment{
    background-color: #181819;
    min-height: 30%;
    padding-top: 4%;
}

#box1{
    background-image: url("../img/printing1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;

    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#box1:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#box1:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#box1:hover::after {
  opacity: 1;
}

#box2{
    background-image: url("../img/gift.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;

    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#box2:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#box2:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#box2:hover::after {
  opacity: 1;
}

#box3{
    background-image: url("../img/printing3.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

#box3:after{
    content: '';
    position: absolute;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

#box3:hover {
    transform: scale(1.02, 1.02);
    cursor: pointer;
}

#box3:hover::after {
  opacity: 1;
}

.well{
    padding: 0;
    border-width: 0;
}

.promo{
    min-height: 150;
}